---
// Componente que muestra una tarjeta de playlist en el main
import { type Playlist } from "@/services/data";
import Card from "./Card.astro";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
// TODO
// Intl.ListFormat
---

<article class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 
  rounded-md transition-all duration-300">
  <div class="absolute right-4 bottom-20 translate-y-1
    transition-all duration-500 opacity-0
    group-hover:-translate-y-2 group-hover:opacity-100 z-10">
    <CardPlayButton id={id} client:visible/>
  </div>
  <a
    href={`/playlist/${id}`}
    class="playlist-item flex transition-all duration-300 relative p-2 overflow-hidden 
      gap-2 pb-6 w-44 flex-col"
    transition:name=`playlist ${id} box`
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <img
        src={cover}
        alt={`Carátula de ${title} por ${artistsString}`}
        class="w-full h-full object-cover rounded-md"
        transition:name=`playlist ${id} image`
      />
    </picture>
    <div class="flex flex-auto flex-col truncate pr-2">
      <h4 class="text-white text-base" transition:name=`playlist ${id} title`>
        {title}
      </h4>
      <span
        class="text-neutral-500 text-sm"
        transition:name=`playlist ${id} artists`>{artistsString}</span
      >
    </div>
  </a>
</article>
